doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
		script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(type='text/javascript' src='/js/api/users.js')
		script(type='text/javascript' src='/js/navigation.js')
		script(type='text/javascript' src='/js/services.js')
		script(type='text/javascript' src='/socket.io/socket.io.js')
		script.
			session="#{session}";
			$(document).ready(function(){
				$("#aLogout").on("click",function(){
					logout();
				});
				$("#iMessageIcon").on("click",function(){
					$("#divMessageStack").toggle(1000);
				});
			});
			var socket = io.connect('http://dev.rcnetwork.be:8080');
			socket.on('messages', function(data) {
				$("#iMessageIcon").css("color","red");
				var rowMsg = document.createElement("div");
				$(rowMsg).attr('class','divMessageRow');
				var cellImg = document.createElement("div");
				$(cellImg).attr('class','divMessageCellImg');
				var iImg = document.createElement("i");
				$(iImg).attr("class","fa fa-bullhorn");
				$(cellImg).append(iImg);
				var cellText = document.createElement("div");
				$(cellText).attr('class','divMessageCellText');
				$(cellText).html(data);
				$(rowMsg).append(cellImg);
				$(rowMsg).append(cellText);
				$("#divMessageStackTable").append(rowMsg);
			});
	body
		div(id='divHeader')
			div(id='divHeaderContent')
				div(id='divHeaderTitle')
					h1= title
					p Welcome to #{title}
				div(id='divHeaderProfile')
					-if(session.user == null)
						a(href='#') connexion
					-else
						p #{session.user.username}
						a(href='#' id='aLogout') déconnexion
		div(id='divContent')
			block content
		div(id='divFooter')
			div(id='divFooterContent')
				div(id='divServicesJobs')
					div(id='divJobs_lfm')
						i(id='iServicesIcon_lfm',class='fab fa-lastfm',style='font-size:24px;')
				div(id='divMessageNotification')
					i(id='iMessageIcon',class='fa fa-envelope')
		div(id='divMessageStack')
			div(id='divMessageStackTable')
